html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    background: #E6E6FA !important;
}

hr {
    color: #E6E6FA;
}

a {
    text-decoration:none !important;
    color: #000000 !important;
}

a:hover {
    text-decoration:none !important;
    color: #FF0000 !important;
}

.main-container a{
    text-decoration:none !important;
    color: #0000aa !important;
}

.main-container a:hover {
    text-decoration:none !important;
    color: #FF0000 !important;
}

.hide-field {
    display: none !important;
}

.div-read {
    color: #FF0000
}


.map-modal-background {
    display: none;
    margin: auto;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1170px;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.map-modal-background:target {
    display: block;
    pointer-events: auto;
}

.map-modal-background #map {
    width: 940px;
    height: 600px;
    float: left;
    margin: 20px 0px 0px 115px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.map-modal-background .close-map {
    float: right;
    margin: 20px;
    background: #87CEFA;
    color: #000000;
    line-height: 25px;
    right: 0px;
    text-align: center;
    height: 24px;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.map-modal-background .close-map:hover {
    background: #00BFFF;
}


/* begin modal window */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;

}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: -10px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

/* end modal window */

.wrapper {

    width: 1170px;
    margin: auto;
    background-color: #E6E6FA;

}

header {
    width: 1170px;
    height: 226px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 5px;
    background-color: #87CEFA;
    color: #000000;
    border-radius: 0px 0px 5px 5px;
}

.link-to-home {
    width: 55px;
    float: left;
    position: relative;
    font-size: 16px;

}

.link-header {
    width: 1050px;
    float: right;
    position: relative;
    text-align: right;
    font-size: 16px;

}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #E6E6FA !important;
    border-radius: 4px;
}

/*  //  begin user-cabinet //  */

.profile {
    width: 220px;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.image_profile img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
}

.profile .user_name {
    text-align: center;
}

.user_name span{
    color: #FF0000;
}

.user_data {

    margin: 5px;
}


/* begin user-cabinet page - "change avatar" */

.change_photo {
    margin: 5% 460px 15% 460px;
    padding: 5px;
    width: 230px;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.change_photo span{
    font-size: 9px;
}

.change_photo button {
    width: 220px;

    color: #000000;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 6px;
    background: #87CEFA;
}

.change_photo button:hover {
    background: #00BFFF;
}

/* end user-cabinet page - "change avatar" */

/* begin user-cabinet change password */

.change_password {
    margin: 5% 460px 15% 460px;
    padding: 5px;
    width: 230px;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.change_password button {
    width: 220px;

    color: #000000;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 6px;
    background: #87CEFA;
}

.change_password button:hover {
    background: #00BFFF;
}



.close:hover { background: #00d9ff; }
/* end user-cabinet change password */

/* the beginning of the control-club */

/* the beginning of add new club */

.club-create {
    margin: 5% 460px 15% 460px;
    padding: 5px;
    width: 230px;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF
}



#bock-img-modal-background {
    display: none;
    margin: auto;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1170px;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

#bock-img-modal-background:target {
    display: block;
    pointer-events: auto;
}

#bock-img-modal-background #list-img {
    width: 940px;
    height: auto;
    float: left;
    margin: 20px 0px 0px 115px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

#bock-img-modal-background .files-list {
    display: inline-block;
    margin: 5px;
    height: auto;
    text-align: center;
}

#bock-img-modal-background .file-list {
    width: 220px;

}

#bock-img-modal-background #close-list-img {
    float: right;
    margin: 20px;
    background: #87CEFA;
    color: #000000;
    line-height: 25px;
    right: 0px;
    text-align: center;
    height: 24px;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#bock-img-modal-background #close-list-img:hover {
    background: #00BFFF;
}

#show-images {
    width: 220px;
    display: none;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 6px;
    background: #87CEFA;
}

.club-create button {
    width: 220px;

    color: #000000;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 6px;
    background: #87CEFA;
}

.club-create button:hover {
    background: #00BFFF;
}

/* the end of add new club */

/* end of the control-club */

/*  //  end user-cabinet  //  */

.club-list {
    width: 1170px;
    height: 280px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}

.club-list .photo {
    max-height: 270px;
    width: 370px;
    float: left;

}

.club-list  .name {
    width: 530px;
    margin: 5px;
    text-align: center;
    float: left;

}

.club-list .description {
    width: 530px;
    height: 165px;
    margin: 5px;
    padding: 5px;
    float: left;
}

.club-list .contacts {
    width: 210px;
    max-height: 270px;
    float: right;
}

.club-list .contacts pre {
    background-color: #FFFFFF;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.club {
    width: 1170px;
    height: 1000px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}

.club .club-name {
    width: 1160;
    margin: 5px;
    text-align: center;
}

.club .club-photo-div{
    max-height: 770px;
    width: 470px;

    float: left;
}

.club .club-photo{
    max-height: 370px;
    width: 470px;
    margin-bottom: 2px;
}

.club .club-photo-small-div {
    width: 156px;
    height: 100px;
    float: left;
    background-color: #800000;
}

.club .club-photo-small {
    width: 156px;
    height: 100px;

}

.club .club-description {
    width: 680px;
    max-height: 500px;
    float: left;
    padding: 5px;

}

footer {
    border-radius: 5px 5px 0px 0px;
    background-color: #87CEFA !important;
    clear: both;
}